@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 60px;
  color: gray;
}

h1,
h2 {
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: #1D2126;
  display: flex;
  justify-content: center;
}

.nav-box {
  width: 80%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li a {
  text-transform: uppercase;
  font-size: .8em;
  display: block;
  padding: 4px 5px;
  text-decoration: none;
  color: #9FA9A8;
  margin-left: 20px;
}

nav ul li a:hover {
  border: 2px solid #9FA9A8;
  border-radius: 6px;
  margin: 0 -2px 0 18px;
}

nav ul li a.active {
  color: #23B7A4;
  border: 2px solid #23B7A4;
  border-radius: 6px;
  margin: 0 -2px 0 18px;
}

.logo {
  color: white;
}

nav button {
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  display: none;
  outline: none;
}

nav button .line {
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  margin: 5px 0;
}

nav .drawer {
  display: none;
  transform: translateX(-100%);
  transition: transform 0.6s;
}

nav .drawer ul li {
  margin: 0 10px;
}

nav .back-drop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00000066;
  z-index: 10;
}

@media (max-width: 800px) {
  nav ul {
    display: none;
  }

  nav button {
    display: block;
  }

  nav .drawer {
    display: block;
    width: 160px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #16263f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
  }

  nav .drawer ul {
    margin: 0;
    padding: 0;
    width: 140px;
    display: flex;
    flex-flow: column;
  }
}

header {
  width: 100%;
  height: 400px;
  position: relative;
  background: linear-gradient(135deg, rgb(6, 2, 53), rgb(108, 107, 172))
}

header .carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  list-style: none;
}

header .carousel li {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .4s;
}

header .carousel li img {
  width: 100%;
  height: 100%;
}

header .carousel li.active {
  opacity: .6;
}

header .header-content {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 10%;
  top: 0;
  z-index: 90;
}

header .header-content .box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .header-content section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

header .controls {
  position: absolute;
  right: 0;
  bottom: 30px;
}

.controls button {
  width: 14px;
  height: 14px;
  border: 2px solid white;
  background: transparent;
  border-radius: 50%;
  outline: none;
  transition: background .4s;
}

.controls button.active {
  background: white;
}

header div[class^="bg-"] {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.bg-1 {
  background: url(../images/bg-3.jpg);
}

.bg-2 {
  background: url(../images/bg-2.jpg);
}

.bg-3 {
  background: url(../images/bg-1.jpg);
}

header h1,
header p {
  margin: 0 0 20px;
}

header section>div {
  display: flex;
}

header section button {
  width: 100px;
  height: 30px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  margin-right: 10px;
  outline: none;
}

header section button:hover {
  background: #23B7A4;
  border-color: #23B7A4;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container .content {
  margin-top: 40px;
  width: 80%;
  height: 200vh;
}

.content h2 {
  color: #292F36;
  border-left: 10px solid silver;
  padding-left: 10px;
}

.links-to-social a {
  text-decoration: none;
  display: inline-block;
  color: white;
  background: silver;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 -3px 0 0;
  font-size: 1.2em;
}

.links-to-social a:hover {
  opacity: .6;
}