@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 60px;
  color: gray;
}

h1,
h2 {
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: #1D2126;
  display: flex;
  justify-content: center;
}

.nav-box {
  width: 80%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li a {
  text-transform: uppercase;
  font-size: .8em;
  display: block;
  padding: 4px 5px;
  text-decoration: none;
  color: #9FA9A8;
  margin-left: 20px;
}

nav ul li a:hover {
  border: 2px solid #9FA9A8;
  border-radius: 6px;
  margin: 0 -2px 0 18px;
}

nav ul li a.active {
  color: #23B7A4;
  border: 2px solid #23B7A4;
  border-radius: 6px;
  margin: 0 -2px 0 18px;
}

.logo {
  color: white;
}

nav button {
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  display: none;
  outline: none;
}

nav button .line {
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  margin: 5px 0;
}

nav .drawer {
  display: none;
  transform: translateX(-100%);
  transition: transform 0.6s;
}

nav .drawer ul li {
  margin: 0 10px;
}

nav .back-drop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00000066;
  z-index: 10;
}

@media (max-width: 800px) {
  nav ul {
    display: none;
  }

  nav button {
    display: block;
  }

  nav .drawer {
    display: block;
    width: 160px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #16263f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
  }

  nav .drawer ul {
    margin: 0;
    padding: 0;
    width: 140px;
    display: flex;
    flex-flow: column;
  }
}

header {
  width: 100%;
  height: 400px;
  position: relative;
  background: linear-gradient(135deg, rgb(6, 2, 53), rgb(108, 107, 172))
}

header .carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  list-style: none;
}

header .carousel li {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .4s;
}

header .carousel li.active {
  opacity: .6;
}

header .header-content {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 10%;
  top: 0;
  z-index: 90;
}

header .header-content .box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .header-content section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

header .controls {
  position: absolute;
  right: 0;
  bottom: 30px;
}

.controls button {
  width: 14px;
  height: 14px;
  border: 2px solid white;
  background: transparent;
  border-radius: 50%;
  outline: none;
  transition: background .4s;
}

.controls button.active {
  background: white;
}

header div[class^="bg-"] {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.bg-1 {
  background: url(../images/bg-3.jpg);
}

.bg-2 {
  background: url(../images/bg-2.jpg);
}

.bg-3 {
  background: url(../images/bg-1.jpg);
}

header h1,
header p {
  margin: 0 0 20px;
}

header section>div {
  display: flex;
}

.btn {
  min-width: 100px;
  height: 30px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  margin: 10px 10px 10px 0;
  outline: none;
}

.btn:hover {
  background: #23B7A4;
  border-color: #23B7A4;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container .content {
  margin-top: 40px;
  width: 80%;
  padding: 40px 0;
}

.container h2 {
  color: #292F36;
  border-left: 10px solid silver;
  padding-left: 10px;
}

.links-to-social a {
  text-decoration: none;
  display: inline-block;
  color: white;
  background: silver;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 -3px 0 0;
  font-size: 1.2em;
}

.links-to-social a:hover {
  opacity: .6;
}

.goal {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.goal article {
  width: calc(100% - 80px)
}

.number {
  width: 40px;
  height: 40px;
  background: #23B7A4;
  color: white;
  text-align: center;
  line-height: 40px;
}

.about {
  display: flex;
}

.about section {
  width: 50%;
}

.goal h4,
.number {
  margin: 1em 0;
}

.our-team {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  grid-gap: 1rem;
}

.member {
  margin: 10px;
}

.image {
  width: 100%;
  height: 240px;
  overflow: hidden;
  position: relative;
}

.image img {
  transition: transform .6s;
}

.member:hover img {
  transform: scale(1.1);
}

.member-contacts {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .6s;
}

.member-contacts .links-to-social a {
  background: #3A454D;
}

.member:hover .member-contacts {
  opacity: 1;
}

.info {
  background: #E1E6EA;
  box-sizing: border-box;
  padding: 10px;
}

.info h4,
.info p {
  margin: 0;
}

.member:hover .info {
  background: #3A454D;
  color: white;
}

@media (max-width: 1150px) {
  .our-team {
    flex-flow: wrap;
    justify-content: space-between;
  }
}

#portfolio,
#features {
  background: #3A454D;
}

#features {
  color: #FDFDFD;
}

#portfolio h2,
#features h2 {
  color: white;
}

.works {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2rem;
}

.work {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

.work-hover {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity .6s;
}

.work:hover .work-hover {
  opacity: 1;
  color: white;
}

.work-name {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 10px;
  background: #292F36;
  line-height: 40px;
  color: white;
}

.services,
.features {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.services i {
  font-size: 2.5em;
  color: #0EA9A1;
}

.item {
  margin: 10px 0;
  text-align: center;
}

.show {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contacts {
  display: flex;
  flex-flow: wrap;
}

.contact-info {
  width: 50%;
  min-width: 300px;
}

.contact-form {
  min-width: 300px;
  width: 50%;
  margin-top: -170px;
  z-index: 2;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.2);
}

form {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

form label {
  width: calc(50% - 20px);
  display: flex;
  flex-flow: column;
  margin: 0 0 20px;
}

form label input {
  width: 100%;
  border: none;
  padding: 10px 5px;
  border-radius: 6px;
  background: #EAEEF1;
  box-sizing: border-box;
}

.message {
  width: 100%;
}

.message textarea {
  width: 100%;
  border: none;
  padding: 10px 5px;
  border-radius: 6px;
  background: #EAEEF1;
  resize: vertical;
  max-height: 400px;
  min-height: 100px;
  box-sizing: border-box;
}

.submit {
  min-width: 100px;
  height: 30px;
  color: white;
  border: 2px solid #23B7A4;
  border-radius: 4px;
  margin: 20px 0;
  outline: none;
  background: #23B7A4;
}

@media (max-width: 900px) {
  .about {
    display: block;
  }

  .about section {
    width: 100%;
  }

  form label {
    align-items: center;
  }

  .contact-info {
    width: 100%;
  }

  .contact-form {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  .contact-form input {
    width: 90%;
  }

  .message {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .message textarea {
    width: 90%;
  }

  .container div.content {
    width: 95%;
  }

  .contact-form form button {
    margin: 20px auto;
  }
}

@media (max-width: 400px) {
  .number {
    display: none;
  }

  .goal article {
    width: 100%;
  }

  form label {
    width: 100%;
  }
}

@media (max-width: 600px) {
  footer {
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
  }

  footer div {
    margin: 20px 0;
  }
}

footer {
  width: 100%;
  background: #3A454D;
  color: white;
  display: flex;
  padding: 20px 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

footer i {
  margin: 0 5px;
}